.moneyTrackerHeader {
  @apply flex justify-between items-center p-5;

  background: white;
  height: 50px;
}

.content {
  @apply flex flex-row;
  height: calc(100vh - (48px + 50px));
}

.rightSide {
  width: calc(100% - 300px);
  overflow-y: auto;
}

.rightTopBar {
  background: linear-gradient(to top right, transparent, #fffde7),
    url(/noise.svg);
  height: 130px;
  border-bottom: 1px solid #e2e8f0;
  overflow: auto;
}

.rightBottomBar {
  background: linear-gradient(to bottom right, transparent, rgb(219 234 254)),
    url(/noise.svg);
  padding: 10px;
  min-height: calc(100vh - (48px + 50px + 130px));
}

.leftSide {
  @apply overflow-auto;
  width: 300px;
  background: linear-gradient(to bottom left, transparent, #f0fdf4),
    url(/noise.svg);

  padding: 10px;
  border-right: 1px solid #e2e8f0;
}
