.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  text-align: left;
  padding: 5px 10px;
  font-size: 13px;
  visibility: hidden;
  width: 150px;
  background-image: linear-gradient(
      315deg,
      rgba(30, 65, 121, 0.6) 0%,
      rgba(61, 37, 114, 0.6) 74%
    ),
    url("/noise.svg");
  backdrop-filter: blur(1px) saturate(100%) contrast(45%) brightness(120%);

  color: #fff;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
