@import "handsontable/dist/handsontable.full.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

.handsontable .newRow {
  background-color: #e6e6e6;
}

* {
  /* Use native apple font smoothing on everything else */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
