@import "handsontable/dist/handsontable.full.min.css";
/*/node_modules/react-grid-layout/css/styles.css*/
/*/node_modules/react-resizable/css/styles.css*/
@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

@tailwind base;
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f3f4f6 !important;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 14px;
  border: 3px solid #f3f4f6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

.handsontable .newRow {
  background-color: #e6e6e6;
}

* {
  /* Use native apple font smoothing on everything else */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.react-grid-item.react-grid-placeholder {
  background-image: linear-gradient(
      315deg,
      rgba(30, 65, 121, 0.7) 0%,
      rgba(37, 68, 114, 0.7) 50%
    ),
    url("/noise.svg");
  backdrop-filter: blur(1px) saturate(100%) contrast(45%) brightness(120%);
  border-radius: 6px;
}

.handsontable tr {
  background: transparent;
}
