.moneyOutColumn {
  @apply overflow-auto;
  background: linear-gradient(to bottom right, transparent, rgb(219 234 254)),
    url(https://grainy-gradients.vercel.app/noise.svg);

  width: calc(100% - 250px);
  height: 100%;
}

.moneyOutContentCanvas {
  width: calc(100% - 250px);
  overflow: auto;
  padding: 10px;
}
